### --- General / Sistema Operativo ---
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*~
.fuse_hidden*
.directory
.kotlin

### --- Java: Compilación y Logs ---
*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

### --- Archivos de Empaquetado (Binarios) ---
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/

### --- IntelliJ IDEA ---
.idea/
out/
gen/
*.iml
*.iws
*.ipr
.idea_modules/

### --- Otros IDEs (Eclipse, NetBeans, VS Code) ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.vscode/