### --- Compilación y Binarios de Java ---
*.class
*.log
*.ctxt
.mtj.tmp/

### --- Archivos de Empaquetado ---
# Se ignoran para evitar subir archivos pesados y duplicados
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Si se Maven Wrapper, se puede descomentar la siguiente línea para permitir su JAR:
# !.mvn/wrapper/maven-wrapper.jar

### --- Logs de Fallos de la JVM (Java Virtual Machine) ---
hs_err_pid*
replay_pid*

### --- Maven ---
# Carpeta de salida de compilación de Maven (Crítico)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### --- IntelliJ IDEA ---
# Configuraciones locales de la IDE y del espacio de trabajo
.idea/
*.iml
*.iws
*.ipr
out/
gen/
.idea_modules/

### --- Archivos Temporales del Sistema Operativo ---
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.fuse_hidden*
.directory
